.typewriter {
  overflow: hidden; 
  border-right: .15em solid orange; 
  white-space: nowrap; 
  margin: 0 auto 0 0px;
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(18, end),
    blinking-cursor .5s step-end;
    width: 449px;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: firebrick; }
}