.shine {
  margin: 1em auto;
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#fff), color-stop(50%, #777), color-stop(50%, #666), to(#111));
  background: -webkit-linear-gradient(top, #fff, #777 50%, #666 50%, #111);
  background:         linear-gradient(top, #fff, #777 50%, #666 50%, #111);
    -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: Myriad, sans-serif;
  white-space: nowrap;
}